#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "pterodactyl"
name = "Pterodactyl"
description.en = "Game server management panel"
description.fr = "Panneau de gestion du serveur de jeu"

version = "1.12.0~ynh1"

maintainers = [ ]

[upstream]
license = "MIT"
website = "https://pterodactyl.io/"
admindoc = "https://pterodactyl.io/project/introduction.html"
code = "https://github.com/pterodactyl/panel"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "300M"
ram.build = "150M"
ram.runtime = "150M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["fr", "en"]
    default = "fr"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]

    [resources.sources.main]
    in_subdir = false
    url = "https://github.com/pterodactyl/panel/releases/download/v1.12.0/panel.tar.gz"
    sha256 = "f4d189acb94861cc5bb31b8684e032d1fde6d79ad98b22bcf03661004a92d398"
    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = "^panel\\.tar\\.gz$"

    [resources.sources.wings]
    in_subdir = false
    rename = "wings"
    extract = false
    amd64.url = "https://github.com/pterodactyl/wings/releases/download/v1.12.0/wings_linux_amd64"
    amd64.sha256 = "b8250adebb41f7bf03605753694273b707122d6f11f84f203b23ecc986724577"
    arm64.url = "https://github.com/pterodactyl/wings/releases/download/v1.12.0/wings_linux_arm64"
    arm64.sha256 = "a219d5a97deccccff1e951f8beb97f0f5b59b256d702b2a06bc91a813886b274"
    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "wings_linux_amd64"
    autoupdate.asset.arm64 = "wings_linux_amd64"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "redis-server, mariadb-server, php8.4-gd, php8.4-mysql, php8.4-mbstring, php8.4-bcmath, php8.4-xml, php8.4-curl, php8.4-zip"

    [resources.database]
    type = "mysql"

    [resources.composer]
    version = "2.9.3"
